.chat-container {
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 1000;
  }
  
  .chat-icon {
    background-color: #007bff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .chat-window {
    position: absolute;
    bottom: 20px; /* Place the window right above the icon */
    right: 0;
    width: 300px;
    height: 400px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: scaleY(0);
    /* transform: scaleX(0); */
    transform-origin: bottom right;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .chat-window.open {
    opacity: 1;
    transform: scaleY(1);
    transform: scaleX(1);
  }
  
  .chat-header {
    background-color: #007bff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-radius: 8px 8px 0 0;
  }
  
  .close-btn {
    cursor: pointer;
  }
  
  .chat-body {
    padding: 10px;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  
  .message {
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 12px;
    max-width: 80%;
    font-size: 14px;
  }
  
  .bot-message {
    background-color: #007bff;
    color: white;
    align-self: flex-start;
  }
  
  .user-message {
    background-color: #ddd;
    color: black;
    align-self: flex-end;
  }
  
  .chat-input-container {
    display: flex;
    padding: 10px;
    background-color: white;
    border-radius: 0 0 8px 8px;
  }
  
  .chat-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
  }
  
  .send-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-left: 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  